<%_ let iconList = []; _%>
<%_ tool_button_list.forEach(function(item) { _%>
  <%_ iconList.push(item.icon_component); _%>
<%_ }); _%>
<%_ iconList = [...new Set(iconList)]; _%>
<template>
  <div class="page_container">
    <div class="filter_wrap">
      <n-form ref="formRef" inline :label-width="100" :model="searchParams" label-placement="left">
      <%_ main_form_item_list.forEach(function(item){ _%>
        <n-form-item label="<%= item.label %>">
          <%_ if (item.type === 'select') { _%>
          <n-select 
            v-model:value="searchParams.user" 
            :options="<%- jsonToJsFormat(item.options) %>"
            clearable
          />
          <%_ } else { _%>
          <n-input v-model:value="searchParams.<%= item.key %>" type="text" clearable/>
          <%_ } _%>
        </n-form-item>
      <%_ }) _%>
        <n-form-item>
          <n-button type="primary" :loading="loading" @click="handleSearch">
            <template #icon>
              <n-icon :component="Search" />
            </template>
            搜索
          </n-button>
          <n-button style="margin-left: 10px" @click="resetForm">重置</n-button>
        </n-form-item>
      </n-form>
      <div class="tool_wrap">
        <div class="btn_wrap">
        <%_ tool_button_list.forEach(function(item){ _%>
          <n-button type="primary" @click="<%= item.handler %>">
            <template #icon>
              <n-icon :component="<%= item.icon_component %>" />
            </template>
            <%= item.button_name %>
          </n-button>
          <%_ }) _%>
        </div>
      </div>
    </div>
    <div class="table_wrap">
      <n-data-table
        v-model:checked-row-keys="selectIds"
        class="page_table"
        :columns="columns"
        :single-line="false"
        :data="tableData"
        :row-key="(row) => row.id"
        :scroll-x="minXScroll"
        flex-height
      ></n-data-table>
    </div>
    <div class="page_wrap">
      <n-pagination
        v-model:page="searchParams.page"
        v-model:page-size="searchParams.size"
        :item-count="total"
        show-size-picker
        :page-sizes="[20, 50, 100]"
        @update:page="queryData()"
        @update:page-size="queryData()"
      >
        <template #prefix="{ itemCount }">共 {{ itemCount }} 条</template>
      </n-pagination>
    </div>

    <!-- 编辑 -->
    <EditModal ref="editRef" @success="queryData"></EditModal>
  </div>
</template>
<script setup>
<%_ let inputApiList = []; _%>
<%_ let searchApi = ""; _%>
<%_ let deleteApi = ""; _%>
<%_ apiList.forEach(v => { _%>
  <%_ if (v.command === 'select') { _%>
    <%_ searchApi = v.handlerName; _%>
  <%_ } else if (v.command === 'delete') { _%>
    <%_ deleteApi = v.handlerName; _%>
  <%_ } _%>
  <%_ inputApiList.push(v.handlerName); _%>
<%_ }) _%>
import { Search,<%- iconList.join(', ') %> } from "@vicons/ionicons5";
import { createColumns } from "./tableConfig.jsx";
import { usePageSearch } from "@/hooks/pageSearch";
import EditModal from "./components/EditModal.vue";
import { useMessage } from "naive-ui"
<%_ if(apiFileName && apiFileName !== ''){_%>
import { <%= inputApiList.join(", ") %> } from "@/api/<%= apiFileName %>.js ";
<%_}_%>

const message = useMessage()

const columns = ref(createColumns({ handleDelete, handleEdit }));
const minXScroll = computed(() => {
  const cols = columns.value || [];
  const colsWidth = cols.reduce(
    (pre, cur) => pre + (cur.width || cur.minWidth || 100),
    0
  );
  return colsWidth;
});
/**
  * 选中行
  */
const selectIds = ref([]);

/**
  * 删除
  */
async function handleDelete(row) {
<%_ if(deleteApi !== ''){ _%>
  await <%= deleteApi %>(row.id)
  message.success("删除成功")
<%_ } _%>
  console.log("删除");
  console.log(row);
}

/**
  * 编辑
  */
const editRef = ref()
function handleEdit(row) {
  console.log("编辑");
  console.log(row);
  editRef.value.open(row)
}

/**
  * 搜索相关
  */
<%_ if(searchApi !== ""){ _%>
const {loading,tableData,total,searchParams,handleSearch,queryData,resetForm} = usePageSearch(<%= searchApi %>, {
  page: 1,
  size: 20,
});
handleSearch()
<%_ } _%>


<% tool_button_list.forEach(function(item){ %>
/**
  * <%=item.button_name %>
  */
function <%= item.handler%>(){
  console.log("<%=item.button_name %>")
  console.log(row)
}
<% }) %>
</script>
<style lang="scss" scoped>
@import '@/style/tablePage.scss';
</style>